/* Importando uma fonte customizada */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #ffffff;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}

#day-select {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #e0e0e0;
  border: none;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #333;
  color: #e0e0e0;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

div {
  text-align: center;
  margin-top: 20px;
}

.exercise-container {
  background-color: #1e1e1e;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: left;
}

.exercise-container input {
  margin-right: 10px;
}

.exercise-container button {
  margin-left: 10px;
}
